header img {
   margin: 0;
  padding: 0;
}
ul li {
	display : table-cell;
	padding: 5px;
}	

section article {
	background: url(image.jpg) no repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;   
    
}

#deux {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;   
}


section p a {
	font-size: 30px;
    color: #d727d4;
    bottom: 800px;
    text-align: center;
}

article a{
	font-family: "Verdana"
	font-size: "94px";
	color : #d727d4 ;
}
article button {
	margin-top: -11;
}


h2 {
	text-align: center;
	font-family: fantasy;
	font-size: 50px;
	font-stretch: semi-expanded;
	color : black;
	font-size: 24;
	padding-top: 20px;
	padding-bottom: 23px;
	line-height: 1px;
}

h4 {
	padding-top: 1px;
	text-align: center;
	font-style: italic;
	font-family: fantasy;
	font-size: 40px;
	color : black;
	font-size: 24;
}

h3 {
	padding: 0px;
	text-align: center;
	font-style: italic;
	font-family: fantasy;
	font-size: 40px;
	color : black;
	font-size: 24;
}
	

#visuels {
	display: inline-block;
    float: left;	
}

div img {
	height: 500px;
	width: 500px;	
}
article img {
	height: 700px;
	width: 800px;
 	margin-left: auto;
    margin-right: auto;
}


li a {
	font-size: 20px;
  padding: 0 10px;
  color: black;
  text-decoration: none;
}
footer nav li a {
 align: "right";
}  

@media (max-width:320px) {  /*small mobile*/
  h2 {
    font-size: 15px;;
  }
}

@media (min-width:321px) and (max-width:959px) {  /*tablet*/
  h2 {
    font-size: 15px; 
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
  h2 {
    font-size: 35px;  }
}
@media (min-width:1600px) {  /*desktop and tv*/
  h2 {
    font-size: 50px;;
  }
}

.container {
	text-align: justify;
	font-size: 20px;
	font-weight: 20px;
	padding: 10px 0px 10px 0px;
	vertical-align: middle;

}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.nav navbar-nav navbar-right {
	text-align: right;
}
nav {
	background-color: #d727d4
	color: black;
}
nav {
  background-color:#bcd;
  border-radius: 8px;
  padding: 0;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.btn {
color: violet;
text-decoration: none;
background-color: black;
}
.navbar {
background-color: black;
font-size: violet;
}